---
import About from "../components/About.astro";
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import {retrieveMain} from "../lib/strapi";
const {site, photographer} = await retrieveMain();
---

<Layout site={site} photographer={photographer} title="About Me">
    {
        <>
            <div class="mx-auto w-full lg:max-w-[80%] max-w-[90%] mt-[5%] lg:mt-[5%]">
                <About photographer={photographer}/>
            </div>
        </>
    }
</Layout>
