---
import type Site from "../interfaces/Site";
import type Photographer from "../interfaces/Photographer";
const {site, photographer}: { site: Site, photographer: Photographer } = Astro.props as {
    site: Site,
    photographer: Photographer

};
const leftSide = site.Footer.LeftSide.replaceAll("{year}", String(new Date().getFullYear()));
const antibotEmail = photographer.Email?.replaceAll("@", "[at]");
---
<footer class="footer footer-horizontal pb-5 flex justify-between items-center px-5">
    <div class="flex-shrink-0">
        <p>{leftSide}</p>
    </div>
    <div class="flex gap-2">
        {site.Footer.ShowInstagram && photographer.Instagram &&
                <a href={`https://instagram.com/${photographer.Instagram.replace("@", "")}`} target="_blank"
                   class="link link-hover" aria-label="Instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="currentColor">
                        <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
                    </svg>
                </a>
        }
        {photographer.Email && site.Footer.ShowEmail &&
                <>
                    <script is:inline>
                        document.addEventListener("DOMContentLoaded", function () {
                            const emailLink = document.getElementById("email__link");
                            const email = emailLink?.getAttribute("href").replace("mailto:", "").replace("[at]", "@");
                            if (emailLink) {
                                emailLink.setAttribute("href", "mailto:" + email);
                            }
                        });
                    </script>
                    <a href={`mailto:${antibotEmail}`} rel="noopener noreferrer"
                       id="email__link"
                       class="link link-hover" aria-label="email">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="currentColor">
                            <text xmlns="http://www.w3.org/2000/svg" x="0" y="18" font-size="24px"
                                  style="font-size:24px;font-family:Arial,sans-serif;">@
                            </text>
                        </svg>
                    </a>
                </>
        }
        {photographer.PhoneNumber && site.Footer.ShowPhoneNumber &&
                <a href="javascript:void(0)"
                   onclick={`window.location.href='tel:'+'${photographer.PhoneNumber}'.replace(/\\s/g,'')`}
                   class="link link-hover" aria-label="Téléphone">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="currentColor">
                        <path d="M20 15.5c-1.25 0-2.45-.2-3.57-.57-.35-.11-.74-.03-1.02.24l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.5c0-.55-.45-1-1-1zM12 3v10l3-3h6V3h-9z"/>
                    </svg>
                </a>
        }
    </div>
</footer>
