---
import GalleryMasonry from "./GalleryMasonry.tsx";
import GallerySlider from "./GallerySlider.tsx";
import type {GalleryStyle, Image} from "../interfaces/Gallery";
import {retrieveDefaultStyle} from "../lib/strapi";

const {pictures, style} = Astro.props as { pictures: Image[], style?: GalleryStyle };
const defaultedStyle = style ?? await retrieveDefaultStyle();
---
<div class="gallery">
    {defaultedStyle === undefined && <p class="text-2xl font-bold">Gallery style and default style not defined.</p>}

    {defaultedStyle?.MainStyle === "Tiles" &&
            <GalleryMasonry items={pictures} client:only="react" style={defaultedStyle}/>}

    {defaultedStyle?.MainStyle === "Slider" &&
            <GallerySlider items={pictures} client:only="react"/>}
</div>
