---
import GalleryMasonry from "./GalleryMasonry.tsx";
import GallerySlider from "./GallerySlider.tsx";
import type {Gallery, GalleryStyle, Image} from "../interfaces/Gallery";
import type Site from "../interfaces/Site";

const {gallery, style, site} = Astro.props as { gallery: Gallery, style?: GalleryStyle, site: Site };
const defaultedStyle = style ?? site.DefaultGalleryStyle;
---
<div class="gallery">
    {defaultedStyle === undefined && <p class="text-2xl font-bold">Gallery style and default style not defined.</p>}

    {defaultedStyle?.MainStyle === "Tiles" &&
            <GalleryMasonry gallery={gallery} client:only="react" style={defaultedStyle}/>}

    {defaultedStyle?.MainStyle === "Slider" &&
            <GallerySlider gallery={gallery} client:only="react"/>}
</div>
